/* Custom color theme properties */
:root {
  --f7-theme-color: #ff7d00;
  --f7-theme-color-rgb: 255, 125, 0;
  --f7-theme-color-shade: #d66900;
  --f7-theme-color-tint: #ff9229;
}

/* Your app custom styles here */
